body{
  display: flex;
  flex-direction: column;
  background-color: black;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.305);
}

.container h2{
  color: #fff;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

form input{
  width: 300px;
  height: 2rem;
  border-radius: 8px;
}

form button{
  background-color: blue;
  color: #fff;
  border: none;
}

form button:hover{
  background-color: white;
  color: blue;
  border: 2px solid blue;
  font-weight: bolder;
}